<%- include("./partials/header") %> <br /><br />
<div class="container" style="vertical-align: middle; color:black">
  <div class="jumbotron" style="background-color: wheat" >
    <h1 class="display-4">Welcome:)</h1>
    <p class="lead">Know about any Movie/Series/Anime</p>
    <hr class="my-4" />
    <p></p>
    <a class="btn btn-primary btn-lg"  href="#" role="button">Sign Up!</a>
  </div>
</div>
<%- include("./partials/footer") %>
